<header class="container header-logo">
  <div class="logo-wrapper hp-logo">
    <a href="/" class="site-link">
      <div class="logo">
        <h1 class="name-title">SEBASTIEN</h1>
        <h1 class="name-title">ALLEMAND</h1>
      </div>
      <div class="blog-title">
        <span class="background-title">Blog <span class="background-title-spare">.</span></span>
      </div>
    </a>
  </div>
</header>
